body {
color: white;
background-color: black;
margin: 0px;
}

header {
  border-bottom: solid 2px rgb(131, 20, 133);
padding: 20px;
font-size: 32px;
color: rgb(131, 20, 133)

  
  }
section {
  background:rgb(131, 20,133);
  padding-bottom: 80px;
  display: flex;justify-content: center;
}

chamada-texto {
  margin-right: 40px;
  }
